<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.android.touchpull2_master">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".GridViewActivity" />
    </application>

</manifest>
